@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background-color: #000000;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  background-color: #000000;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
